<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Build your Tutor Profile!</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/tutors" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Your photo url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Your skills">
                </div>
                
                <div class="form-group">
                    <p>Upload your resume:</p>
                    <input type="file" id="myFile" multiple size="50" name="resume" onchange="myFunction()">
                </div>                
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/tutors">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>

